components/rawapuf/rawapuf
components/rocount/rocount
components/majoritypoll/majoritypoll
tunemyapuf/tunemyapuf
iprepo/*
*.swp

# Python ignore stuffs
__pycache__/
.overreacher/

/build
/dist
/venv
/.git
/.mypy_cache

setup.ini
*.egg
*.eggs
*.egg-info/
*.pyc

/*.json
